.exchange {
    width: 600px;
    padding: 45px 0 0 50px;

    p {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 1.4;
    }

    .deposit {
        form {
            input {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

        }
    }

    nav {
        margin-bottom: 30px;
        ul {
            list-style: none;
            display: flex;
            gap: 15px;

            li {
                padding-bottom: 12px;
                cursor: pointer;

                &.active {
                    border-bottom: 2px solid rgb(37, 99, 235);

                    a {
                        color: #fff;
                    }
                }

                a {
                   color: #757575;
                   text-decoration: none;
                   font-size: 16px;
               }
            }

        }
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            color: #757575;
        }

        select {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding: 11px;
        }

        input {
            width: 300px;
            margin-bottom: 20px;
            margin-top: 10px;

            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        button {
            margin-top: 10px;
            width: fit-content;
            padding: 14px;
        }
    }
}

@media (max-width: 768px) {
    .exchange {
        padding: 10px;
    }
}