<div 
    class="alert"
    *ngIf="alert"
    [ngClass]="{
        'success': alert.status === 'success',
        'error': alert.status === 'error'
      }">
    {{ alert.message }}
    <button (click)="closeError()"><i class="ri-close-line"></i>
    </button>
</div>
<div class="exchange">
  <nav>
    <ul>
      <li 
      [class.active]="activeSection === 'deposit'"
      (click)="activeSection = 'deposit'"
      >
        <a>Deposit</a>
      </li>
      <li 
      [class.active]="activeSection === 'trade'"
      (click)="activeSection = 'trade'"
      >
        <a>Trade</a>
      </li>
    </ul>
  </nav>

  <div class="deposit" *ngIf="activeSection === 'deposit'">
    <p>Your fiat will be deposited as USDC <br> Minimum deposit is $20</p>
    <form (ngSubmit)="onDeposit()">
      <label>
        US dollars: <br>
        <input [(ngModel)]="fiatValue" type="number" name="fiatValue">
      </label>
      <button 
      class="btn-primary-dark"
      type="submit"
      [disabled]="fiatValue < 20">Deposit</button>
    </form>
  </div>

  <div class="trade" *ngIf="activeSection === 'trade'">
    <p>Trade our supported cryptocurrencies!</p>
    <form (ngSubmit)="onConvert()">
      <label>
        You pay: <br>
        <select [(ngModel)]="payCurrency" (change)="onChangeAmount()" name="payCurrency">
          <option *ngFor="let coin of supportedCurrencies" [value]="coin.id">{{ coin.name }}</option>
        </select>
        <input type="number" [(ngModel)]="amountToPay" (input)="onChangeAmount()" name="amountToPay">
      </label>
      <label>
        You receive: <br>
        <select [(ngModel)]="receiveCurrency" (change)="onChangeAmount2()" name="receiveCurrency">
          <option *ngFor="let coin of supportedCurrencies" [value]="coin.id">{{ coin.name }}</option>
        </select>
        <input type="number" [(ngModel)]="amountToReceive" (input)="onChangeAmount2()" name="amountToReceive">
      </label>
      <button 
      [disabled]="isConvertionValid()"
      class="btn-primary-dark" 
      type="submit">Convert</button>
    </form>
  </div>
  
  
</div>