.profile {
    padding: 45px 0 0 40px;
    width: 100%;

    .info-p {
        padding-left: 12px;
        color: #7c7c7c;
    }

    .crypto-balance {
        display: flex;
        flex-wrap: wrap;
    }

    .crypto-box {
        margin-left: 10px;
        background-color: #121212;
        border: 1px solid #1d1d1d;
        padding: 20px;
        border-radius: 15px;
        position: relative;
        margin-bottom: 10px;


        &::before {
            content: " ";
            display: flex;
            position: absolute;
            inset: 0px;
            transform: scale(1.3);
            filter: blur(50px);
            background-color: rgba(164, 148, 255, 0.1);
            z-index: -2;
        }

        h3 {
            margin-bottom: 30px;
        }
    }

    .transactions {
        margin-top: 60px;
        margin-bottom: 60px;
        h2 {
            padding-left: 12px;
            padding-bottom: 20px;
        }
        table {
            font-size: 16px;
            width: 400px;
    
            thead {
                color: #7c7c7c;
    
            }
        
            td {
                padding: 10px;
                margin: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .profile {
        padding: 0;
        padding-top: 10px;

        .transactions {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}