<div class="profile">
    <div class="crypto-balance">
        <ng-container *ngFor="let item of cryptoBalance | keyvalue">
            <div *ngIf="item.value !== 0" class="crypto-box">
                <h3>{{ getName(item.key) }}</h3>
                <p>{{ item.value | number:'1.2-2' }} {{ getTicker(item.key) }}</p>
            </div>
        </ng-container>
    </div>

    <div class="transactions buy">
        <h2>Market history</h2>
        <table>
            <thead>
                <tr>
                    <td>Buy</td>
                    <td>Sell</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>USDC</td>
                    <td>Bitcoin</td>
                    <td>$300</td>
                </tr>
                <tr>
                    <td>Ethereum</td>
                    <td>Solana</td>
                    <td>$2,120</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="transactions send">
        <h2>Sent history</h2>
        <table>
            <thead>
                <tr>
                    <td>Crypto</td>
                    <td>Amount</td>
                    <td>To</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bitcoin</td>
                    <td>$300</td>
                    <td>nikusha@gmail.com</td>
                </tr>
                <tr>
                    <td>Solana</td>
                    <td>$400</td>
                    <td>nikusha@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>