<div 
    class="alert"
    *ngIf="alert"
    [ngClass]="{
        'success': alert.status === 'success',
        'error': alert.status === 'error'
      }">
    {{ alert.message }}
    <button (click)="closeError()"><i class="ri-close-line"></i>
    </button>
</div>
<div class="profile">
    <div class="crypto-balance">
        <ng-container *ngFor="let item of cryptoBalance | keyvalue">
            <div *ngIf="item.value !== 0" class="crypto-box">
                <h3>{{ getName(item.key) }}</h3>
                <p>{{ item.value | number:'1.2-2' }} {{ getTicker(item.key) }}</p>
            </div>
        </ng-container>
        <div class="crypto-box" *ngIf="!hasCryptoBalance">
            <h3>Coins</h3>
            <p>You have 0 coins</p>
        </div>
    </div>

    <div class="transactions buy">
        <h2>Transaction history</h2>
        <p class="info-p" *ngIf="transactions.length === 0">You have no transactions</p>
        <table *ngIf="transactions.length > 0">
            <thead>
                <tr>
                    <td>Buy</td>
                    <td>Amount</td>
                    <td>Sell</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions">
                    <td>{{ getTicker(transaction.toCurrency) }}</td>
                    <td>+{{ transaction.amountTo | number:'1.2-2' }}</td>
                    <td>{{ getTicker(transaction.fromCurrency) }}</td>
                    <td>-{{ transaction.amountFrom | number:'1.2-2' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="transactions send">
        <h2>Transfer history</h2>
        <p class="info-p" *ngIf="sentTransactions.length === 0">You have no transactions</p>
        <table *ngIf="sentTransactions.length > 0">
            <thead>
                <tr>
                    <td>Crypto</td>
                    <td>Amount</td>
                    <td>To</td>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let transaction of sentTransactions">
                    <td>{{ getTicker(transaction.currency) }}</td>
                    <td>{{ transaction.amount | number:'1.2-2' }}</td>
                    <td>{{ transaction.toEmail }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>