<div class="profile">
    <div class="crypto-balance">
        <ng-container *ngFor="let item of cryptoBalance | keyvalue">
            <div *ngIf="item.value !== 0" class="crypto-box">
                <h3>{{ getName(item.key) }}</h3>
                <p>{{ item.value | number:'1.2-2' }} {{ getTicker(item.key) }}</p>
            </div>
        </ng-container>
    </div>

    <div class="transactions buy">
        <h2>Market history</h2>
        <table>
            <thead>
                <tr>
                    <td>Buy</td>
                    <td>Amount</td>
                    <td>Sell</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions">
                    <td>{{ getTicker(transaction.toCurrency) }}</td>
                    <td>+{{ transaction.amountTo | number:'1.2-2' }}</td>
                    <td>{{ getTicker(transaction.fromCurrency) }}</td>
                    <td>-{{ transaction.amountFrom | number:'1.2-2' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="transactions send">
        <h2>Sent history</h2>
        <table>
            <thead>
                <tr>
                    <td>Crypto</td>
                    <td>Amount</td>
                    <td>To</td>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let transaction of sentTransactions">
                    <td>{{ getTicker(transaction.currency) }}</td>
                    <td>{{ transaction.amount | number:'1.2-2' }}</td>
                    <td>{{ transaction.toEmail }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>