<div class="coin-list">
    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>Coin</td>
                <td>Price</td>
                <td>24h</td>
                <td>Market Cap</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coin of coinList; let i = index">
                <td class="coin-index">{{ i + 1 }}</td>
                <td class="td-flex"><img [src]="coin.image" alt="">  {{ coin.name }} <span>{{ coin.symbol.toUpperCase() }}</span></td>
                <td>${{ coin.current_price | number }}</td>
                <td
                [ngClass]="{
                    'red': coin.price_change_percentage_24h < 0,
                    'green': coin.price_change_percentage_24h > 0
                  }"
                >{{ coin.price_change_percentage_24h | number:'1.2-2' }}%</td>
                <td>${{ coin.market_cap | number }}</td>
            </tr>
        </tbody>
    </table>
</div>
