<div class="sidebar">
    <ul>
        <li routerLinkActive="active">
            <a routerLink="profile"><i class="ri-user-fill"></i> Profile</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="coins"><i class="ri-bit-coin-fill"></i> Coins</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="exchange"><i class="ri-shopping-cart-2-fill"></i> Exchange</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="send"><i class="ri-send-plane-2-fill"></i> Send</a>
        </li>
    </ul>
</div>
